{{> header}}

<div style="margin: 7% auto;" class="modal-content col-lg-6">
    <div class="modal-body">
        {{#each data}}
            <div class="food">
                <span>{{foodName}}</span>
                <img src="{{picture}}" alt="{{foodName}} picture" style="width: 30%;">
                <a href="#/object/details/{{objectId}}">Details</a>
            </div>
        {{else}}
            <p>No data</p>
        {{/each}}
    </div>
</div>

{{> footer}}