{{> header}}

<div id="detailsMovie">
    <h1>Details</h1>
    <div class="movie">
        <h2>Title: {{data.title}}</h2>
        <img src="{{data.imageUrl}}">
        <p>{{data.description}}</p>
        <h2>Genres</h2>
        <ul class="genres">
            <li>{{data.genres}}</li>
        </ul>
        <p>Available Tickets: {{data.tickets}}</p>
        <button><a href="#/object/{{data.objectId}}/ticket">Buy Ticket</a></button>
    </div>
</div>

{{> footer}}